.tui_exec.log
logs/
*.log
.cache/
.claude/
.obsidian/
tools/debug/screenshots/
./CLAUDE.md
./*.code-workspace

DinosAmazingBashTui.code-workspace
etc/
tools/debug/screenshots/
CLAUDE.md
dist/

tools/export_txt.sh
txt_export/
